.btn-extended {
    display: block;
    max-width: 100%;
    margin-bottom: 40px;
}

.btn-detail {
    margin-bottom: 20px;
}

.error-message {
    padding: 0.2em;
    border-radius: 10px;
    margin-top: 10px;
}

.repo-icons {
    display: grid;
    grid-template-columns: 4em 4em 4em;
    justify-items: end;
}



@media (max-width: 1220px) {
    
    .btn-detail {
        margin-bottom: 20px;
        width: 49%;
    }
}

@media (max-width: 600px) {
    .repo-icons {
        display: none !important;
    }
}