body {
    background: url("../img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* input {
     border-bottom: white 2px solid !important; 
} */
.section-login {
    height: 77.5vh;
}


.btn-extended {
    width: 100%;
    opacity: 1;
}